
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>  

<div class="menu">
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/perfil2.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Nicolas Segovia</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.instagram.com/nicosegov/" class="linkedin"><i class="bx bx-world"></i></a>
		  <a href="https://github.com/Nico-Segovia" class="github"><i class="bx bxl-github"></i></a>          
		  <a href="https://www.linkedin.com/in/nicosegovia/" class="linkedin"><i class="bx bxl-linkedin"></i></a>		 	 		 
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>          
          <li><a routerLink="/inicio" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
          <li><a routerLink="/alumnos" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Alumnos</span></a></li>
          <li><a routerLink="/cursos" class="nav-link scrollto"><i class="bx bxs-graduation"></i> <span>Cursos</span></a></li>
          <li><a routerLink="/inscripciones" class="nav-link scrollto"><i class="bx bx-edit"></i> <span>Inscripciones</span></a></li>          
        </ul>
      </nav>
    </div>
  </header>
</div>