<form [formGroup]="addStudentForm" (ngSubmit)="registerStudent()" class="was-validated">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre:</label>
        <input formControlName="name" type="string" class="form-control" id="name">
        <div class="valido" *ngIf="addStudentForm.controls['name'].dirty && addStudentForm.controls['name'].valid">Campo correcto</div>
        <div class="invalido" *ngIf="addStudentForm.controls['name'].dirty && addStudentForm.controls['name'].errors?.['required']">El campo no puede estar vacío</div>
        <div class="invalido" *ngIf="addStudentForm.controls['name'].dirty && addStudentForm.controls['name'].errors?.['minlength']">El campo no puede tener menos de 3 letras</div>
        <div class="invalido" *ngIf="addStudentForm.controls['name'].dirty && addStudentForm.controls['name'].errors?.['pattern']">El campo debe tener solo letras y espacios</div>
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">Apellido:</label>
        <input formControlName="surname" type="string" class="form-control" id="surname">
        <div class="valido" *ngIf="addStudentForm.controls['surname'].dirty && addStudentForm.controls['surname'].valid">Campo correcto</div>
        <div class="invalido" *ngIf="addStudentForm.controls['surname'].dirty && addStudentForm.controls['surname'].errors?.['required']">El campo no puede estar vacío</div>
        <div class="invalido" *ngIf="addStudentForm.controls['surname'].dirty && addStudentForm.controls['surname'].errors?.['minlength']">El campo no puede tener menos de 3 letras</div>
        <div class="invalido" *ngIf="addStudentForm.controls['surname'].dirty && addStudentForm.controls['surname'].errors?.['pattern']">El campo debe tener solo letras y espacios</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo:</label>
        <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
        <div class="valido" *ngIf="addStudentForm.controls['email'].dirty && addStudentForm.controls['email'].valid"
        >Correo Válido</div>
        <div class="invalido" *ngIf="addStudentForm.controls['email'].dirty && addStudentForm.controls['email'].errors?.['required']">El campo no puede estar vacío</div>
        <div class="invalido" *ngIf="addStudentForm.controls['email'].dirty && addStudentForm.controls['email'].errors?.['pattern']">El campo tiene un formato incorrecto</div>
    </div>
    <div class="mb-3">
        <label for="documentNumber" class="form-label">DNI:</label>
        <input formControlName="documentNumber" type="string" class="form-control" id="documentNumber" aria-describedby="emailHelp">
        <div class="valido" *ngIf="addStudentForm.controls['documentNumber'].dirty && addStudentForm.controls['documentNumber'].valid"
        >DNI Válido</div>
        <div class="invalido" *ngIf="addStudentForm.controls['documentNumber'].dirty && addStudentForm.controls['documentNumber'].errors?.['required']">El campo no puede estar vacío</div>
        <div class="invalido" *ngIf="addStudentForm.controls['documentNumber'].dirty && addStudentForm.controls['documentNumber'].errors?.['pattern']">El campo no puede tener letras</div>
        <div class="invalido" *ngIf="addStudentForm.controls['documentNumber'].dirty && addStudentForm.controls['documentNumber'].errors?.['minlength'] || addStudentForm.controls['documentNumber'].errors?.['maxlength']">El campo debe tener entre 8 y 10 dígitos</div>
    </div>
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Celular:</label>
        <input formControlName="phoneNumber" type="string" class="form-control" id="phoneNumber" aria-describedby="emailHelp">
        <div class="valido" *ngIf="addStudentForm.controls['phoneNumber'].dirty && addStudentForm.controls['phoneNumber'].valid"
        >Celular Válido</div>
        <div class="invalido" *ngIf="addStudentForm.controls['phoneNumber'].dirty && addStudentForm.controls['phoneNumber'].errors?.['required']">El campo no puede estar vacío</div>
        <div class="invalido" *ngIf="addStudentForm.controls['phoneNumber'].dirty && addStudentForm.controls['phoneNumber'].errors?.['pattern']">El campo no puede tener letras</div>
        <div class="invalido" *ngIf="addStudentForm.controls['phoneNumber'].dirty && addStudentForm.controls['phoneNumber'].errors?.['minlength'] || addStudentForm.controls['phoneNumber'].errors?.['maxlength']">El campo debe tener entre 10 y 12 dígitos</div>
    </div>
    <!-- <div class="mb-3">
        <label for="enrolledCourses" class="form-label">Enrolled courses</label>
        <select formControlName="enrolledCourses" class="form-control" id="enrolledCourses" aria-describedby="emailHelp"></select>        
    </div> -->
    <div class="mb-3 form-check">
        <input formControlName="isActive" type="checkbox" class="form-check-input" id="isActive">
        <label class="form-check-label" for="isActive">Activo</label>
    </div>
    <button type="submit" class="btn btn-primary">Registrar Estudiante</button>
    <button type="reset" class="btn btn-secondary">Borrar</button>
</form>