<mat-toolbar color="dark">
  <mat-toolbar-row>    
    <nav class="navbar nav-scroller bg-body-tertiary fixed-top shadow-sm "  >
      <div class="container-fluid">
        <a class="navbar-brand" style="color: white;" href="#">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
          <span>Gestión de Alumnos</span>
        </a>
      </div>
    </nav>       
  </mat-toolbar-row>  
  <!-- <mat-toolbar-row>    
    <button mat-button><mat-icon>menu</mat-icon></button>
  </mat-toolbar-row> -->
</mat-toolbar>

