<div class="container">
    <form [formGroup]="form" (ngSubmit)="editCourse()">
        <div class="row">
            <mat-form-field class="col-md-6">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <mat-label>Comisión</mat-label>
                <input matInput formControlName="commission">
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <mat-label>Fecha Inicio</mat-label>
                <input matInput [matDatepicker]="startDate" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <mat-label>Fecha Fin</mat-label>
                <input matInput [matDatepicker]="endDate" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>

            <div class="col-md-6">
                <mat-slide-toggle formControlName="openRegistration"><label style="color: black">Inscripción abierta</label></mat-slide-toggle>
            </div>

            <div class="col-md-6">
                <button mat-raised-button type="submit">Editar</button>
            </div>
        </div>
    </form>
</div>